<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Survival Prediction</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<style>
    .table {
        display: block;
        width: 80%;
    height: 60vh;
    margin: 0 auto;
    overflow-y: auto;
    white-space: nowrap;
}
</style>

  </head>

  <body>

    <div class="jumbotron text-center">
      <h1>Predicting survival for hospital patients</h1>
    </div>

    <div class="container">
        <h3>Upload a <b>CSV File</b> with the mentioned patient data</h3>
      <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="csv-file">CSV File of patient data:</label>
          <input
            type="file"
            class="form-control"
            id="csv_file"
            name="csv_file" />
        </div>

        <center>
            <button type="submit" class="btn btn-info">Predict</button>
        </center>
      </form>
    <hr>
    <br>

    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Column</th>
            <th scope="col">Data Type</th>
          </tr>
        </thead>
        <tbody>
            {%for feat, type in zip(features, dtypes)%}
          <tr>
            <td> {{feat}} </td>
            <td> {{type}} </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>

    <br>
    <hr>
    <center>
        {% if length %}
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">patient_number</th>
                <th scope="col">survival</th>
              </tr>
            </thead>
            <tbody>
                {%for id, val in zip(list(range(1, length+1)), pred)%}
              <tr>
                <th scope="row"> {{id}} </td>
                {% if val %}
                <td scope="row"> Alive: {{val}} </td>
                {% else %}
                <td scope="row"> Dead: {{val}} </td>
                {% endif %}
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {% endif %}
    </center>
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
